@import '../../App.scss';

.form {
	margin-top: 5rem;
	.form-box {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	}

	.form-group {
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
		label {
			flex-basis: 30%;
		}

		input {
			width: 50%;
			flex-basis: 70%;
			padding: 0.7rem;
			border: 1px solid $clr-gray;
			border-radius: 5px;
			background: none;
			&:focus {
				outline: none;
				border: 1px solid $clr-orange;
			}
		}
	}

	.form-submitBtn {
		background-color: $clr-orange;
		color: white;
		padding: 1rem;
		transition: background-color 0.3s;

		&:focus {
			background-color: darken($clr-orange, 10%);
			border: 2px solid black;
		}

		&:hover {
			background-color: darken($clr-orange, 10%);
		}
	}
}

@media screen and (min-width: 1024px) {
	.form {
		flex-basis: 60%;

		.form-box {
			input {
				padding: 1rem;
			}
		}
	}
}
